* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    font-family: Lato, sans-serif;
}
a {
    text-decoration: none;
}
a:hover{
    color : black;
}
nav {
    display: flex;
    justify-content: space-between;
}
.orange_{
    color:  #f42;
}
.myflex{
    display: flex;
}
.logo {
    width: 100px;
    height: 60px;
    padding: 1rem;
    background-color: #f42;
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    position: relative;
    top:-45;
    left:0;
    cursor: pointer;
    z-index: 3;
}
.logo-img {
    width: 100%;
    height: 50px;
    position: relative;
    top :-30px;
    max-width: 100%;
    transform: translateY(45%);
}

.main_menu{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    background: white;
    top: 0;
    left: 0;
}

.topbar1{
    background-color: #131313;
    width: 100%;
    height: 40%;
    padding : 5px;
    position: relative;
    line-height: 0;
   
}
.topbar2 {
    width: 100%;
    height: 45px;
    padding: 2px;
    font-size: 12px;
    font-family: Shentox,sans-serif;
    display: flex;
}
.topbar2-part1{
    width : 100%;
}
.topbar2-part2{
    float : right;
    border-left: 1px solid rgba(161,161,161,0.4);
    font-size: 15px;
}
}
.topbar1 ul {
    list-style-type: none; 
    position: absolute; 
    
}
.topbar1 ul  li {
    display: inline;
    font-size: 12px;
    padding:10px;
    position: relative;
    top : -5px;
    left: -30px;
    color: #aaa;
}

.topbar1 ul > li:first-child {
    color: white;
}

.topbar1 ul > li > a:hover {
    color: white;
    cursor: pointer;
}


.topbar2-part1 ul, .topbar2-part2 ul {
    list-style-type: none;
    padding: 2px 15px;
}
.topbar2-part1 ul li {

    display: inline;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 13px;
    color: #aaa;
}

.topbar2-part2 ul li {
    display: inline;
    padding: 0 5px;
}
.topbar1 a, .topbar2-part1 a , .topbar2-part2 a{
    color: #aaa;
}
.topbar2-part1 a:hover {
        color: black;
    }
    
.hide{
    display : none;
}
@media (max-width: 767px){
    .main_menu{
        height: 50px;
    }
    .logo {
        display: block
    }
    .topbar1, .topbar2-part1 {
        display : none;
    }
    .bars {
        display: block;
    }
    .topbar2 {
        margin-left: 4%;
    }
    .topbar2-part2{
        width : 100%;
        border-left: none;
    }
    .topbar2-part2 ul{
        float : right;
        width : 30%;
        display : flex;
        margin : 0;
        
    }
    .topbar2-part2 ul li {

        padding-top: 12px;
        padding-bottom: 8px;
        padding-left: 23px;
        padding-right: 15px;
        border-left: 1px solid rgba(161,161,161,0.4);
        font-size: 25px;
    }
    .topbar2-part2 ul:last-child{
        color : red;
    }
}
/*--------------------------------------------------------------------------*/


.main-content {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 10px;
    width: 100%;
    background: #ddd;
    margin-top: 70px;
}


@media (max-width: 767px){
    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        margin-top: 0;
    }
    .main-content  .left-main-content .overlay{
        display: none;
    }
    .main-content > .left-main-content {
        height:250px;
    }
    .left-main-content img{
        display : none;
    }
    .left-main-content .title {
        top: -180px;
        left:0px; 
    }
    .left-main-content .title p:nth-child(2){
        font-size: 20px;
    }
    .right-part-up  , .right-part-down {
        height: 245px
    }
    
}
.main-content > .left-main-content {
    margin : 10px;
    position: relative;
    grid-column: 1;
    grid-row: span 2;
    background-image: linear-gradient(rgba(228, 4, 190, 0.7) 20%,
    rgba(0,130,170,0),black),url("../TNW-1/images/Bose.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.main-content  .left-main-content .overlay{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.47);
}
.logo2-img {
    position: absolute;
    max-width: 30%;
    top : 20px;
    left : 20px;
}
.main-content  .left-main-content > span  {
    position : relative;
    float : right;
    color : white!important;
    margin : 20px;
}

.left-main-content .title {
    margin-top: 300px;
    margin-left:20px;
    font-size: 30px;
}
.right-part-up .title , .right-part-down .title{
    margin-top: 85px;
    margin-left:20px;
    font-size: 20px;
}
.title {
    position : relative;
    color : white;    
    font-family: "Arial Black", Gadget, sans-serif;  
    font-weight:bold;
}
.title p:first-child{
    font-size: 10px;
    font-family:  sans-serif;
    font-weight: normal;
    margin-bottom: 0
}
.title span{
    font-size: 12px;
    font-family:  sans-serif;
    font-weight: normal;
    margin-bottom: 0;
    color :hsla(0,0%,100%,.6);
    line-height: 16px;
}
.title p {
    margin : 0;
}
.right-part-up {
    position: relative;
    margin : 10px 10px;
    background: url('../TNW-1/images/right1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.right-part-down {
    position: relative;
    margin : -15px 10px 10px;
    background: linear-gradient(
    rgba(0, 0, 0, 0),
    black),
    url('../TNW-1/images/bg-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .left-main-content .title {
    margin-top: 250px!important;
    
} 
.right-part-up .title , .right-part-down .title{
    margin-top: 50px!important;
    
} 

}

/*-----------------------------------------------*/
@media (max-width: 767px){
    .latest-news-divs {
          height: 600px!important
    }
    .latest-news-2 {
    height: 1270px!important
}
    .new {
        float : none!important;
        height: 150px!important;
        margin : 0!important;
    }
    .img-news img{
        width : 105px!important;
        height: 115px!important;
        float: left;
        margin : 10px;
    }
    .text-news, .text-news-bis{
        width : 450px;
        margin-left: 10px!important
    }

    .container1 {
        width : 700px;
    }
    .latest-funding > span {
        float:none!important;

    }
    .latest-funding > span a{
        display: inherit;

    }
    .latest-funding span a:nth-child(1),.latest-funding span a:nth-child(2){
    border-right:none!important;
    margin-bottom: 8px
    }
    .latest-funding span a:hover {
     color: black;
    cursor: pointer;
    }
    .text-news-bis {
    margin-left: 10px
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .latest-news-divs {
        height: 100px!important
    }
     .latest-news {
        height: 600px!important
    }   

    .latest-news-2 {
        height: 900px!important
    }
    .new{     
        width :33.33%!important;
    }
}
.container {
    background: #f1efef;
    width : 100%;
    height: auto;
    margin-top: -19px;
}
.container1 {
        width : 80%;
        margin : 0 auto;

}

h3 {
    font-family: Avalon,sans-serif;
    font-size: 28px;
    letter-spacing: -.015em;
    color : #f42;
    margin-top : 25px;
    margin-left: 5px;
}
h4,
h6{
    margin : 0;
}
.latest-news{
    height: auto;
    clear : both;
    padding : 10px;
}
.latest-news-2 {
    height: 600px
}
.latest-news-divs {
    width: 100%;
    height: auto;
}
.new {
    width : 25%;
    float:left;
    height: 280px;
    margin : 10px auto;   
    font-family: Helvetica Neue,Arial,sans-serif;
    padding-left: 20px;
}
.img-news img {
    width :210px;
    height: 110px;
}

.text-news, .text-news-bis{
  line-height: 25px;  
  padding-top: 20px;
}
.latest-link{
    display: inline
}
.latest-link a {
    color: orange;
    float: right;
    margin-top: -40px;
    margin-right: 40px
}
.latest-link a:hover {
    color : black;
}
.text-news-bis  :nth-child(2)  {
  text-decoration: line-through;
  margin-right: 4px;
  font-size: 13px;
  color : gray;  
}
.latest-funding  {
   margin-top: 40px
}
.latest-funding h3 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 4px;
    padding : 10px 0;
}
.latest-funding > span {
    display : block;
    float : right;
    color:  #f42;
    margin :22px;
}
.latest-funding span a{
    text-decoration: none;
    font-size: 15px;
    color:  #f42;
}
.latest-funding span a:nth-child(1),.latest-funding span a:nth-child(2){
    border-right:1px solid  #f42;
    padding-right: 5px
}
.latest-funding span a:hover {
    color: black;
    cursor: pointer;
}
/*------------------------------------------------*/
@media (max-width : 767px){
    .latest-funding-elms{
}

.latest-funding-elms .elm {
    float : none!important;
    width : 100%!important;
    margin-left : 0!important;
    margin-right: 0!important;
    
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .latest-funding-elms{
        clear : both;
    }
    .latest-funding-elms > div:nth-child(4) {
        display: none
    }
    .latest-funding-elms .elm {
        width : 31%!important;
    }
    .latest-funding > span {
    float : left;

}

}
.latest-funding-elms{
    margin :10px;
}
.latest-funding-elms .elm {
    width : 24%;
    height: 300px;
    margin : 4px;
    background: #ff00e012;
    float : left;
}
.latest-funding-elms-part1{
    width : 100%;
    height: 16%;
    background: #f42;
    position: relative;
}
.latest-funding-elms-part2 {
    width : 100%;
    height: 25%;
    background: #ff00e005;
}
.latest-funding-elms-part1 img {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: 10.66666667px;
    position: absolute;
    top: 0;
    left: 0;
}
.latest-funding-elms-part1 h4{
    text-align: center;
    color: #FFF;
    font-family: Avalon,sans-serif;
    line-height: 1;
    padding:15px
}
.latest-funding-elms-part2{

    text-align: left;
    margin:0 0 10px 80px
}

.latest-funding-elms-part2 h4{
    font-size: 18px;
    color: #000;
    margin: 0
}
.latest-funding-elms-part2 h5{
    color: #000;
    opacity: .5;
    margin:0
}
.latest-funding-elms-part3{
    border-bottom: 1px solid pink
}
.latest-funding-elms-part3 ul{
    padding-left:0;
    list-style: none;
    color : black
}
.latest-funding-elms-part3 ul li{
    color:black;
    font-size: 12px;
    opacity: .8;
    margin-left: 10px;
    margin-bottom :5px;
}
.latest-funding-elms-part3 ul li i{
    margin-right: 10px;
    font-size: 20px;
}

.latest-funding-elms-part4 p{
    opacity: .7;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px
}
.latest-funding-elms-part4 p span{
    opacity: 0.5
}


/*-------------------------------------------------------------*/
@media only screen and (max-width: 1024px){
    .apps-gear-tech-etc-col{

    width: 49%!important
   
}

}
@media (max-width: 767px){
    .apps-gear-tech-etc-row{
        flex-direction: column
    }
   .apps-gear-tech-etc-col{
    width : 100%!important;
   } 
   .apps-gear-tech-etc-latest a{
    margin-right:  80px;}

   .apps-gear-tech-etc-latest{
    margin-top: 70px!important;
    }
    .apps-gear-tech-etc-ul1 a, .apps-gear-tech-etc-ul5 a{
        top : 5px!important;
        left: 0!important;
    }
}
.apps-gear-tech-etc-row{
    margin-top: 50px;
}
.apps-gear-tech-etc-col{
    float : left;
    width: 32%;
    height: 880px;
    margin: 3px;
 
}
.apps-gear-tech-etc-col h2{
   color:  #f42; 
}
.apps-gear-tech-etc{
    clear : both;
    height: 2500px
}
.apps-gear-tech-etc-section .title {
    
    margin-top: -150px;
    margin-left:20px;
    font-size: 20px;
}
.apps-gear-tech-etc-img{
    width : 100%;
    height:40%;
    position : relative;
    background-repeat: no-repeat;
    background-size: cover
}
.apps-gear-tech-etc-img-overlay{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    background-color: rgba(12, 12, 17, 0.47);
}

.apps-gear-tech-etc-latest{
    margin-top: 30px;
    width : 100%;
    height: auto;
    line-height: 20px;
}
.apps-gear-tech-etc-latest a{
    display : block;
    font-size: 12px;
    font-weight: bold;
}
.apps-gear-tech-etc-latest h5{
 margin-top :0;
 margin-bottom: 0;   
}

.apps-gear-tech-etc-ul{
    margin-top: 30px;
    width : 100%;
}
.apps-gear-tech-etc-ul1,
.apps-gear-tech-etc-ul2,
.apps-gear-tech-etc-ul3,
.apps-gear-tech-etc-ul4,
.apps-gear-tech-etc-ul5{
    width : 100%;
    height: 50px;
    position : relative;
    border-bottom: solid 1px #e7dfdf;
    margin-top: 15px;
}
.apps-gear-tech-etc-ul1::before,
.apps-gear-tech-etc-ul2::before,
.apps-gear-tech-etc-ul3::before,
.apps-gear-tech-etc-ul4::before,
.apps-gear-tech-etc-ul5::before{
   content : '';
    display : inline-block;
    width : 5px;
    height: 5px;
    background-color :#f42;
    border-radius : 50%;
    margin-right: 10px;
    
}

.apps-gear-tech-etc-ul1 a,
.apps-gear-tech-etc-ul2 a,
.apps-gear-tech-etc-ul3 a,
.apps-gear-tech-etc-ul4 a,
.apps-gear-tech-etc-ul5 a{
   font-size: 14px;
    opacity: .6;
    position: absolute;
    left: 14px;
    display: inline-block;
    color: black;
    padding: 0 10px;
}

.apps-gear-tech-etc-ul5 a:hover,
.apps-gear-tech-etc-ul1 a:hover,
.apps-gear-tech-etc-ul2 a:hover,
.apps-gear-tech-etc-ul3 a:hover,
.apps-gear-tech-etc-ul4 a:hover{
    opacity: 1;
    cursor: pointer; 
}
/*---------------------------------------------------*/

footer{
    margin-top: 20px;
    text-align: center;
    width : 100% ; 
    height: 260px; 
    background: #1e1e1f
}
.footer-links {
    width: 80%;
    height: 60%; 
    margin : 0 auto;
}
.footer-links-social{
    display : flex;
    width : 410px;
    height: auto;
    margin : 0 auto ;
}
.rounded-link{
    margin: 30px 5px 30px 5px;
    width : 50px;
    height: 47px;
    border : 1px solid #555;
    background: #555;
    border-radius: 50%;
    text-align: center;
}

.rounded-link i {
    vertical-align: -10px;
    color : white;
}

.footer-copyright {
    height: 40%;
    width : 100%;
    background: black
}
.footer-copyright p {
    padding : 40px;
    color :#555;
    font-family: Shentox,sans-serif;
    font-size: 13px;
    font-weight: bold

}
.footer-copyright img {
    width:40px
}
.footer-links-menu {
    display : flex;
    width : 360px;
    height: auto;
    margin : 0 auto ;
    font-weight: bold
}
.footer-links-menu div{
    padding:  5px;
    font-size: 12px;
    
}
.footer-links-menu div a {
    color : #555;
}
.footer-links-menu div a:hover{
    color : white;
}